<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.score.system.mapper.StudentMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO student (user_id, student_number, class_id, enrollment_date, name, state, created_at, updated_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.studentNumber}, #{item.classId}, #{item.enrollmentDate}, #{item.name}
            #{item.state}, #{item.createdAt}, #{item.updatedAt})
        </foreach>
    </insert>

</mapper>
